body {
    background-color: #02070B;
}

h1 {
    padding-left: 30px;
}

.minimaldata {
    display:none;
}

.firstdiv {
    background-image: url("/img/space2.jpg");
}

.jumbotron p {
    padding-left: 60px;
}

.jumbotron {
    color: #b8bcbf;
    background-color: rgba(0,0,0,.4);
    
}

.buttons {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.jumbotron .btn {
    background-color: #2D454E;
    color: #b8bcbf;
    width: 15%;
}

.jumbotron .btn:hover {
    background-color: #567379;
    color: #b8bcbf;
}

.info {
    color: #b8bcbf;
}

.bio {
    font-size: 1.5em;
    margin-left: 10px;
}

.bio2 {
    font-size: 1.2em;
}

.explination {
    font-size: 1.2em;
    padding-right: 30px;
    text-align: right;
}

.spacers {
    display: none;
}

.buttons2{
    padding-top: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.buttons2 .btn {
    background-color: transparent;
    color: #b8bcbf;
    width: 30%;
}

.buttons2 .btn:hover {
    background-color: #567379;
    color: #b8bcbf;
}



@media only screen and (max-width: 630px) {
    .buttons {
        display: block;
        margin: 0 auto;
    }
    .spacers {
        display: inline;
    }
    .jumbotron .btn {
        width: 100%;
        margin-bottom: 5px;
    }
    .jumbotron p {
    padding-right: 30px;
    }
    .explination {
        padding: 30px 10px;
        text-align: center;
    }
    .buttons2 .btn {
        width: 450px;
        margin-bottom: 30px;
    }
    .jumbotron {
        padding-bottom: 0px;
    }

}